[Unit]
Description=Poli-REDI management network

[Network]
NetworkName=poliredi-management
Driver=bridge
Internal=true

[Quadlet]
DefaultDependencies=false
